{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="p-6 max-w-7xl mx-auto">
  <h2 class="text-4xl font-extrabold text-primary-600 dark:text-white mb-10">
    Generated Prompts & Images
  </h2>

  <div class=" gap-8 sm:grid-cols-2">
    <div class="bg-white dark:bg-gray-900 rounded-2xl shadow-md hover:shadow-xl transition-shadow duration-300 overflow-hidden border border-gray-200 dark:border-gray-700">
      <img
        src="{{ image }}"
        alt="Generated Image"
        class="w-full h-auto object-contain"
      />
      <div class="p-5 space-y-3">
        <p class="text-gray-700 dark:text-gray-300 text-sm">
          <span class="font-semibold text-gray-900 dark:text-white">Text Prompt:</span>
          {{ text }}
        </p>
        <a href="{% url 'clientManagement:edit_image' post_id %}" 
          class="inline-block mt-4 px-4 py-2 text-sm font-medium text-white bg-green-600 hover:bg-green-700 rounded-lg">
          Edit
        </a>
      </div>
    </div>
  </div>
</main>
{% endblock %}
